* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	--clr-background: #353941;
	--clr-dark: #26282B;
	--clr-primary: #5F85DB;
	--clr-light: #90b8f8;
	--clr-white: #ffffff;
	--clr-gray: #DEEEEA;
}
body {
	color: var(--clr-white);
	font-family: 'Roboto', sans-serif;
	background-color: var(--clr-dark);
}

a:hover {
	color: var(--clr-primary);
}

@media (max-width: 400px) {
  .stack {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 5px;
  }
}