:root {
  --clr-foreground: #d9d9d9;
  --clr-background: #252422;
  --clr-primary: #eb5e28;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-foreground);
}

body {
  background-color: var(--clr-background);
  background-image: url("../public/minimal_darth.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--clr-primary);
}
