:root {
  --clr-foreground: #d9d9d9;
  --clr-background: #191919;
  --clr-primary: #eb5e28;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--clr-foreground);
}

body {
  background-color: var(--clr-background);
}

.container {
  margin: auto;
  max-width: 1024px;
  min-height: 42.188rem;
  padding: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  color: var(--clr-primary);
}
