.container {
  width: auto;
  min-height: 100vh;
  /* width: 80%; */
  margin-top: 0rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
}

.project {
  font-family: "Roboto Slab", "Playfair Display", serif;
}

.projectTitle {
  font-size: clamp(0.5rem, 3rem, 5rem);
}

.footer {
  top: 444px;
  width: 1280px;
  height: 296px;
  background: rgba(5, 5, 5, 0.45);
  filter: blur(15px);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  position: absolute;
}

.loading {
  margin: auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: auto;
  font-weight: bold;
  font-size: 16px;
}
.projectId {
  /*margin: 0 auto;*/
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  align-content: center;
  flex-wrap: nowrap;
  align-items: flex-start;
}

.projectLink {
  margin: 0 auto;
  cursor: pointer;
}

.project {
  margin: 55px;
  margin-bottom: 1rem;
}

.thumbnail {
  border-radius: 5px;
  max-height: 80%;
  width: 437px;
  height: 276px;
}

.description {
  max-width: 500px;
  min-width: 413;
}

.description p {
  font-family: "Roboto Slab", serif;
}

@media only screen and (max-width: 500px) {
  .description h2 {
    font-size: 2rem;
  }
  .description {
    margin: 1rem;
    margin-bottom: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .projectId {
    margin: 1rem;
  }
  .thumbnail {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .description {
  }
  .description {
    max-width: 50%;
    min-width: 50%;
    margin: 1.5em;
    margin-top: 0;
  }
  .projectId {
    flex-direction: row;
    margin: 2rem;
    padding: 2rem;
  }
  .thumbnail {
    min-width: 437px;
    min-height: 276px;
  }
}
